<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This version of Splurty was built by <a target="_blank" href="https://github.com/ivanheneghan/">Ivan Heneghan</a>.  
  </p>
  <br />
  <p>
    Ivan is a software engineer who became an accidental intrapeneur for some of the world's largest tech companies.
  </p>
  <br />
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'me.jpg', class: 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Ivan Heneghan</h2>
    <br />
    <p>
      With 9+ years of experience working in Facebook &amp; Google, along with 3+ years in start-ups &amp; agencies, I have a strong track record of building business functions from the ground up (account management, operations, analytics, policy and more). I love to be involved at all stages. I build teams, train them, and lead them to do amazing things. I am intelligent, self-reliant, independent, thoughtful and analytical, with a keen sense of humour that I bring into everything I do. I am a strong communicator at all levels, with a passion for public speaking. I am driven by honesty &amp; integrity, and have a passion to learn. I am most interested in companies &amp; roles that have variety and ambiguity. I want to feel passionate about, and make a difference in, what I do.
    </p>
    <p>
      I've built account management functions for Google and Facebook from the ground up - designing services and processes, hiring and training teams, and driving them to generate hundreds of millions of dollars in revenue. I have a track record of establishing new business operations, including building an award-winning half-billion dollar SMB business; designing and building performance and data analytics functions and teams that have generated millions of dollars in revenue; and saving tens of millions in costs through process improvement and automation.
    </p>
    <p>
      I've designed award-winning training programs for, and trained, hundreds of people, and presented at conferences to hundreds more. I've authored published articles and provided digital strategy mentoring for organisations. I've been recognised by the companies I've worked for for my culture-carrier efforts.
    </p>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />